img {
  width: 100%;
}

.letstalk {
  width: 100%;
}

.scaled:hover {
  opacity: 1;
  /*transform: translateX(5px) translateY(5px) translateZ(5px);*/
  transform: scale(0.92);
  display: block;
  transition: opacity 200ms ease 0s, transform 600ms ease 0s;
}

header {
  position: static;
  display: block;
  text-align: unset;
  background-color: #ffffff;
  margin: 0px;
  border-bottom: 3px solid #ffffff;
}

* {
  box-sizing: border-box;
}

main {
  padding-top: 5px;
}

/* total width , set width*/
body {
  color: black;
  background-color: white;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
  /*margin: 25px 100px;*/
  /* Sets the font size to 16px */
  /* Layout styling */
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 36px;
  font-weight: 400;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-size: 24px;
  font-weight: 700;
}

h4 {
  font-size: 18px;
  font-weight: 200;
}

h6 {
  font-size: 20px;
  font-weight: 600;
}

a {
  font-size: 16px;
  color: black;
}

.header a {
  font-size: 16px;
  color: black;
}

.footer a {
  font-size: 36px;
  color: black;
}

a {
  color: #fff0f5;
  text-decoration: none;
  /* No underlining */
}

a:hover {
  color: #ffffff;
  text-decoration: underline;
  /* Underlining when hovering over a link */
  /* Layout styling */
}

a:visited {
  /* visited link */
  color: #6a5acd;
}

a:active {
  /* selected link */
  color: #994c30;
}

.button {
  display: inline-block;
  background-color: #f0f8ff;
  color: #000000;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #000000;
  transition-duration: 0.2s;
  transition-property: opacity;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
  background-color: #f0ffff;
  color: #000000;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #000000;
}

.button.contact {
  background-color: #f0ffff;
  color: #000000;
  text-transform: uppercase;
  border: 1px solid #f0fff0;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #000000;
  transition-duration: 0.2s;
  transition-property: opacity;
}

.button.contact:hover {
  background-color: #f0f8ff;
  color: #000000;
  border: 1px solid #f0f8ff;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #000000;
  opacity: 0.8;
}

a {
  color: #000000;
  text-decoration: none;
}

a:visited {
  color: #696969;
}

a:hover,
a:focus {
  color: #a9a9a9;
  text-decoration: line-through;
}

a:active {
  color: #e6e6fa;
}

.container {
  padding: 0 20px;
}

.containerprofilepic {
  float: left;
  padding: 0 50px;
  text-align: center;
}

.row {
  margin: 25px 0;
  align-content: center;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #000000;
}

#hero h1 {
  text-align: center;
  margin: 30px;
  padding: 3em 0;
}

.logo {
  max-width: 200px;
  float: left;
}

.copyright img {
  max-width: 150px;
  align: center;
}

.copyright {
  padding-top: 45px;
}

nav>ul {
  list-style-type: none;
  padding-top: 16px;
}

.socialmedia img {
  width: 25px;
}

.socialmedia a {
  padding-left: 20px;
  padding-right: 20px;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}

@media only screen and (max-width: 325px) {
  .socialmedia {
    justify-content: space-around;
    display: flex;
    padding-top: 45px;
  }
  .logo {
    max-width: 150px;
  }

  .socialmedia a {
    padding-left: 0px;
    padding-right: 0px;
  }
  .navtoggle li:not(:last-child) {
    display: none;
  }
  .navtoggle, .navtoggle.responsive {
    position: relative;
  }
  .navtoggle.responsive li  {
    display: block;
  }
}

@media only screen and (min-width: 326px) {
  .socialmedia {
    justify-content: space-around;
    display: block;
    padding-top: 45px;
  }
  .navtoggle li:not(:last-child) {
    display: none;
  }
  .navtoggle, .navtoggle.responsive {
    position: relative;
  }
  .navtoggle.responsive li  {
    display: block;
  }
}

#hero {
  background-color: #fff0f5;
}

#hero span {
  display: block;
}

#bangimage {
  background-color: #ffffff;
}

#work {
  background-color: #ffffff;
}

.profilepic {
  background-color: #fff0f5;
  float: left;
}

#myvalues {
  background-color: #ffffff;
}

#giveityour100 {
  background-color: #ffffff;
}


/* media queries */
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: right;
    /*padding: 20px 0 13px;*/
  }

/*  nav {
    width: auto;
    float: right margin-top: 30px;
  }
*/

  .col-md-6 {
    width: 50%;
  }

  .col-md-l6 {
    width: 30%;
  }

  .col-md-r6 {
    width: 70%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #about-page h3 {
    margin-top: 0;
  }
  nav>ul>li {
    padding-left: 30px;
    display: inline-block;
  }
  .navtoggle li:not(:last-child) {
    display: inline-block;
  }
  .navtoggle li:last-child {
    display: none;
  }

}


/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}
