@import url('https://fonts.googleapis.com/css?family=Roboto:300|Avenir:200,400,500');

.wibu {
  width: 100%;
  min-width: 1920px;
  height: 100vh;
  min-height: 25364px;
  position: relative;
  overflow: hidden;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(255, 255, 255, 1.0);
}

a {
  text-decoration: none;
}

div {
  -webkit-text-size-adjust: none;
}

.anima-full-width-a {
  width: 100%;
}

.anima-full-height-a {
  height: 100%;
}

div {
  -webkit-text-size-adjust: none;
}

.wibu .component110 {
  background-color: rgba(255, 255, 255, 0.0);
  top: -293px;
  height: 25658px;
  width: 2260px;
  position: absolute;
  margin: 0;
  left: -180px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.wibu .component110 .group270 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: 25658px;
  width: 2239px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.wibu .component110 .group270 .rectangle10 {
  background-color: rgba(255, 228, 225, 1.0);
  top: 0px;
  height: 25658px;
  box-sizing: border-box;
  width: 2239px;
  position: relative;
  margin: 0;
  left: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(112, 112, 112, 1.0);
  transform: rotate(0deg);
  opacity: 1.0;
}

.wibu .component110 .a1 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 842px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 1134px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Avenir", Helvetica, Arial, serif;
  font-weight: 200;
  font-style: normal;
  font-size: 50.0px;
  color: rgba(0, 0, 0, 1.0);
  text-align: center;
  line-height: 50.0px;
}

.wibu .component110 .group22 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 4643px;
  height: 96px;
  width: 214px;
  position: absolute;
  margin: 0;
  left: 1010px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.wibu .component110 .group22 .home0 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 13px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Avenir", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 70.0px;
  color: rgba(0, 0, 0, 1.0);
  text-align: center;
  line-height: 70.0px;
  text-decoration: line-through;
}

.wibu .component110 .entitlement3 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 13429px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 905px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Avenir", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 70.0px;
  color: rgba(0, 0, 0, 1.0);
  text-align: center;
  line-height: 70.0px;
  text-decoration: line-through;
}

.wibu .component110 .a74 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 4800px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 595px;
  transform: rotate(0deg);
}

.wibu .component110 .a85 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 5386px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 595px;
  transform: rotate(0deg);
}

.wibu .component110 .a96 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 5972px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 595px;
  transform: rotate(0deg);
}

.wibu .component110 .a107 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 6558px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 595px;
  transform: rotate(0deg);
}

.wibu .component110 .a118 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 7144px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 595px;
  transform: rotate(0deg);
}

.wibu .component110 .a2291 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 13578px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 619px;
  transform: rotate(0deg);
}

.wibu .component110 .a2310 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 14164px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 619px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.wibu .component110 .a2310 .a230 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
}

.wibu .component110 .a2411 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 14750px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 619px;
  transform: rotate(0deg);
}

.wibu .component110 .a2512 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 15336px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 619px;
  transform: rotate(0deg);
}

.wibu .component110 .a2613 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 15922px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 619px;
  transform: rotate(0deg);
}

.wibu .component110 .a2714 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 16508px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 619px;
  transform: rotate(0deg);
}

.wibu .component110 .a2815 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 17094px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 619px;
  transform: rotate(0deg);
}

.wibu .component110 .a2916 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 17680px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 619px;
  transform: rotate(0deg);
}

.wibu .component110 .a3017 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 18266px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 619px;
  transform: rotate(0deg);
}

.wibu .component110 .a3118 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 18852px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 619px;
  transform: rotate(0deg);
}

.wibu .component110 .a3219 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 19438px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 619px;
  transform: rotate(0deg);
}

.wibu .component110 .component7120 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 1368px;
  height: 3244px;
  width: 2239px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.wibu .component110 .component7120 .rectangle15550 {
  background-color: rgba(255, 240, 245, 1.0);
  top: 0px;
  height: 3244px;
  width: 2239px;
  position: relative;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.wibu .component110 .group3021 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 7788px;
  height: 5579px;
  width: 2239px;
  position: absolute;
  margin: 0;
  left: 21px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.wibu .component110 .group3021 .rectangle15560 {
  background-color: rgba(255, 240, 245, 1.0);
  top: 0px;
  height: 5579px;
  width: 2239px;
  position: relative;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.wibu .component110 .component2122 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 612px;
  height: 118px;
  width: 1480px;
  position: absolute;
  margin: 0;
  left: 395px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.wibu .component110 .component2122 .wibulicensingerpintegration0 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 14px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Roboto", Helvetica, Arial, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 90.0px;
  color: rgba(0, 0, 0, 1.0);
  text-align: center;
  line-height: 90.0px;
}

.wibu .component110 .component3123 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 752px;
  height: 132px;
  width: 818px;
  position: absolute;
  margin: 0;
  left: 732px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.wibu .component110 .component3123 .aprojectwithriedelcommunicationsuxdesignerinternshipprogram0 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 18px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Avenir", Helvetica, Arial, serif;
  font-weight: 200;
  font-style: normal;
  font-size: 48.0px;
  color: rgba(0, 0, 0, 1.0);
  text-align: center;
  line-height: 48.0px;
}

.wibu .component110 .component4124 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 1160px;
  height: 49px;
  width: 580px;
  position: absolute;
  margin: 0;
  left: 466px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.wibu .component110 .component4124 .playthefullmidfidelityprototype0 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 6px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Avenir", Helvetica, Arial, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 36.0px;
  color: rgba(0, 0, 0, 1.0);
  text-align: center;
  line-height: 36.0px;
}

.wibu .component110 .tracylogo25 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 369px;
  height: 83px;
  width: 64px;
  position: absolute;
  margin: 0;
  left: 303px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.wibu .component110 .tracylogo25 .tracylogo0 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: 83px;
  width: 64px;
  position: absolute;
  margin: 0;
  left: 0px;
  border-radius: 44px;
  transform: rotate(0deg);
}

.wibu .component110 .component6126 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 1451px;
  height: 96px;
  width: 222px;
  position: absolute;
  margin: 0;
  left: 1031px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.wibu .component110 .component6126 .login0 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 13px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Avenir", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 70.0px;
  color: rgba(0, 0, 0, 1.0);
  text-align: center;
  line-height: 70.0px;
  text-decoration: line-through;
}

.wibu .component110 .a127 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 1598px;
  height: 587px;
  width: 1043px;
  position: absolute;
  margin: 0;
  left: 619px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.wibu .component110 .a127 .a10 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: 587px;
  width: 1043px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
}

.wibu .component110 .a228 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 2185px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 619px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.wibu .component110 .a228 .a20 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
}

.wibu .component110 .a329 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 2771px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 619px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.wibu .component110 .a329 .a30 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
}

.wibu .component110 .a430 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 3357px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 619px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.wibu .component110 .a430 .a40 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
}

.wibu .component110 .a631 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 3943px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 619px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.wibu .component110 .a631 .a60 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
}

.wibu .component110 .device32 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 7840px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 1017px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Avenir", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 70.0px;
  color: rgba(0, 0, 0, 1.0);
  text-align: center;
  line-height: 70.0px;
  text-decoration: line-through;
}

.wibu .component110 .a12331 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 7980px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 619px;
  transform: rotate(0deg);
}

.wibu .component110 .a14341 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 8566px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 619px;
  transform: rotate(0deg);
}

.wibu .component110 .a14351 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 9152px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 619px;
  transform: rotate(0deg);
}

.wibu .component110 .a15361 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 9738px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 619px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.wibu .component110 .a15361 .a150 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
}

.wibu .component110 .a16371 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 10324px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 619px;
  transform: rotate(0deg);
}

.wibu .component110 .a17381 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 10910px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 619px;
  transform: rotate(0deg);
}

.wibu .component110 .a18391 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 11496px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 619px;
  transform: rotate(0deg);
}

.wibu .component110 .a19401 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 12082px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 619px;
  transform: rotate(0deg);
}

.wibu .component110 .a20411 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 12668px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 619px;
  transform: rotate(0deg);
}

.wibu .component110 .rectangle1557421 {
  background-color: rgba(255, 240, 245, 1.0);
  top: 20091px;
  height: 5567px;
  width: 2239px;
  position: absolute;
  margin: 0;
  left: 21px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.wibu .component110 .account431 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 20226px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 966px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Avenir", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 70.0px;
  color: rgba(0, 0, 0, 1.0);
  text-align: center;
  line-height: 70.0px;
  text-decoration: line-through;
}

.wibu .component110 .a33441 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 20384px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 619px;
  transform: rotate(0deg);
}

.wibu .component110 .a34451 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 20970px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 619px;
  transform: rotate(0deg);
}

.wibu .component110 .a35461 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 21556px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 619px;
  transform: rotate(0deg);
}

.wibu .component110 .a36471 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 22142px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 619px;
  transform: rotate(0deg);
}

.wibu .component110 .a37481 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 22728px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 619px;
  transform: rotate(0deg);
}

.wibu .component110 .a38491 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 23314px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 619px;
  transform: rotate(0deg);
}

.wibu .component110 .a39501 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 23900px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 619px;
  transform: rotate(0deg);
}

.wibu .component110 .a40511 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 24486px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 619px;
  transform: rotate(0deg);
}

.wibu .component110 .a41521 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 25072px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 619px;
  transform: rotate(0deg);
}

.wibu .component110 .component51531 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 1209px;
  height: 32px;
  width: 928px;
  position: absolute;
  margin: 0;
  left: 466px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.wibu .component110 .component51531 .httpsxdadobecomview45b39505731a452145994d65750425243382fullscreen0 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 4px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Roboto", Helvetica, Arial, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 24.0px;
  color: rgba(0, 0, 0, 1.0);
  text-align: center;
  line-height: 24.0px;
}

.wibu .group271 {
  background-color: rgba(255, 255, 255, 0.0);
  top: -293px;
  height: 25658px;
  width: 2239px;
  position: absolute;
  margin: 0;
  left: -180px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.wibu .group271 .rectangle101 {
  background-color: rgba(255, 228, 225, 1.0);
  top: 0px;
  height: 25658px;
  box-sizing: border-box;
  width: 2239px;
  position: relative;
  margin: 0;
  left: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(112, 112, 112, 1.0);
  transform: rotate(0deg);
  opacity: 1.0;
}

.wibu .a2 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 549px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 954px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Avenir", Helvetica, Arial, serif;
  font-weight: 200;
  font-style: normal;
  font-size: 50.0px;
  color: rgba(0, 0, 0, 1.0);
  text-align: center;
  line-height: 50.0px;
}

.wibu .group23 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 4350px;
  height: 96px;
  width: 214px;
  position: absolute;
  margin: 0;
  left: 830px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.wibu .group23 .home01 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 13px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Avenir", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 70.0px;
  color: rgba(0, 0, 0, 1.0);
  text-align: center;
  line-height: 70.0px;
  text-decoration: line-through;
}

.wibu .entitlement4 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 13136px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 725px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Avenir", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 70.0px;
  color: rgba(0, 0, 0, 1.0);
  text-align: center;
  line-height: 70.0px;
  text-decoration: line-through;
}

.wibu .a75 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 4507px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 415px;
}

.wibu .a86 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 5093px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 415px;
}

.wibu .a97 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 5679px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 415px;
}

.wibu .a108 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 6265px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 415px;
}

.wibu .a119 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 6851px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 415px;
}

.wibu .a2210 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 13285px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 439px;
}

.wibu .a2311 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 13871px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 439px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.wibu .a2311 .a2301 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
}

.wibu .a2412 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 14457px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 439px;
}

.wibu .a2513 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 15043px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 439px;
}

.wibu .a2614 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 15629px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 439px;
}

.wibu .a2715 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 16215px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 439px;
}

.wibu .a2816 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 16801px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 439px;
}

.wibu .a2917 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 17387px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 439px;
}

.wibu .a3018 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 17973px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 439px;
}

.wibu .a3119 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 18559px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 439px;
}

.wibu .a3220 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 19145px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 439px;
}

.wibu .component7121 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 1075px;
  height: 3244px;
  width: 2239px;
  position: absolute;
  margin: 0;
  left: -180px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.wibu .component7121 .rectangle155501 {
  background-color: rgba(255, 240, 245, 1.0);
  top: 0px;
  height: 3244px;
  width: 2239px;
  position: relative;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.wibu .group3022 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 7495px;
  height: 5579px;
  width: 2239px;
  position: absolute;
  margin: 0;
  left: -159px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.wibu .group3022 .rectangle155601 {
  background-color: rgba(255, 240, 245, 1.0);
  top: 0px;
  height: 5579px;
  width: 2239px;
  position: relative;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.wibu .component2123 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 319px;
  height: 118px;
  width: 1480px;
  position: absolute;
  margin: 0;
  left: 215px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.wibu .component2123 .wibulicensingerpintegration01 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 14px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Roboto", Helvetica, Arial, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 90.0px;
  color: rgba(0, 0, 0, 1.0);
  text-align: center;
  line-height: 90.0px;
}

.wibu .component3124 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 459px;
  height: 132px;
  width: 818px;
  position: absolute;
  margin: 0;
  left: 552px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.wibu .component3124 .aprojectwithriedelcommunicationsuxdesignerinternshipprogram01 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 18px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Avenir", Helvetica, Arial, serif;
  font-weight: 200;
  font-style: normal;
  font-size: 48.0px;
  color: rgba(0, 0, 0, 1.0);
  text-align: center;
  line-height: 48.0px;
}

.wibu .component4125 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 867px;
  height: 49px;
  width: 580px;
  position: absolute;
  margin: 0;
  left: 286px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.wibu .component4125 .playthefullmidfidelityprototype01 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 6px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Avenir", Helvetica, Arial, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 36.0px;
  color: rgba(0, 0, 0, 1.0);
  text-align: center;
  line-height: 36.0px;
}

.wibu .tracylogo26 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 76px;
  height: 83px;
  width: 64px;
  position: absolute;
  margin: 0;
  left: 123px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.wibu .tracylogo26 .tracylogo01 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: 83px;
  width: 64px;
  position: absolute;
  margin: 0;
  left: 0px;
  border-radius: 44px;
  transform: rotate(0deg);
}

.wibu .component6127 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 1158px;
  height: 96px;
  width: 222px;
  position: absolute;
  margin: 0;
  left: 851px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.wibu .component6127 .login01 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 13px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Avenir", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 70.0px;
  color: rgba(0, 0, 0, 1.0);
  text-align: center;
  line-height: 70.0px;
  text-decoration: line-through;
}

.wibu .a128 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 1305px;
  height: 587px;
  width: 1043px;
  position: absolute;
  margin: 0;
  left: 439px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.wibu .a128 .a101 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: 587px;
  width: 1043px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
}

.wibu .a229 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 1892px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 439px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.wibu .a229 .a201 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
}

.wibu .a330 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 2478px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 439px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.wibu .a330 .a301 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
}

.wibu .a431 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 3064px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 439px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.wibu .a431 .a401 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
}

.wibu .a632 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 3650px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 439px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.wibu .a632 .a601 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
}

.wibu .a1233 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 7687px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 439px;
}

.wibu .a1434 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 8273px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 439px;
}

.wibu .a1435 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 8859px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 439px;
}

.wibu .a1536 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 9445px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 439px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.wibu .a1536 .a1501 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
}

.wibu .a1637 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 10031px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 439px;
}

.wibu .a1738 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 10617px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 439px;
}

.wibu .a1839 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 11203px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 439px;
}

.wibu .a1940 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 11789px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 439px;
}

.wibu .a2041 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 12375px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 439px;
}

.wibu .rectangle155742 {
  background-color: rgba(255, 240, 245, 1.0);
  top: 19798px;
  height: 5567px;
  width: 2239px;
  position: absolute;
  margin: 0;
  left: -159px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.wibu .account43 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 19933px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 786px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Avenir", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 70.0px;
  color: rgba(0, 0, 0, 1.0);
  text-align: center;
  line-height: 70.0px;
  text-decoration: line-through;
}

.wibu .a3344 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 20091px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 439px;
}

.wibu .a3445 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 20677px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 439px;
}

.wibu .a3546 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 21263px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 439px;
}

.wibu .a3647 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 21849px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 439px;
}

.wibu .a3748 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 22435px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 439px;
}

.wibu .a3849 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 23021px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 439px;
}

.wibu .a3950 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 23607px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 439px;
}

.wibu .a4051 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 24193px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 439px;
}

.wibu .a4152 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 24779px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 439px;
}

.wibu .component5153 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 916px;
  height: 32px;
  width: 928px;
  position: absolute;
  margin: 0;
  left: 286px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.wibu .component5153 .httpsxdadobecomview45b39505731a452145994d65750425243382fullscreen01 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 4px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Roboto", Helvetica, Arial, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 24.0px;
  color: rgba(0, 0, 0, 1.0);
  text-align: center;
  line-height: 24.0px;
}

.wibu .device54 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 7553px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 831px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Avenir", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 70.0px;
  color: rgba(0, 0, 0, 1.0);
  text-align: center;
  line-height: 70.0px;
  text-decoration: line-through;
}

/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity: 0;
  display: block;
  -webkit-animation: anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation: anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation: anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation: anima-reveal 0.3s ease-in-out 1 normal forwards;
}

.anima-animate-disappear {
  opacity: 1;
  display: block;
  -webkit-animation: anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation: anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation: anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation: anima-reveal 0.3s ease-in-out 1 reverse forwards;
}

.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay: 0;
  /*animation-delay     : 0;*/
}

@-webkit-keyframes anima-reveal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes anima-reveal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes anima-reveal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes anima-reveal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events: none;
}

.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events: auto;
}

.anima-hidden,
.anima-hidden * {
  visibility: hidden;
  pointer-events: none;
}

.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events: auto;
  visibility: visible;
}

.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility: hidden !important;
}

.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor: pointer;
}

/*.anima-word-break {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}*/
.wibu2 {
  width: 100%;
  min-width: 1920px;
  height: 100vh;
  min-height: 9607px;
  position: relative;
  overflow: hidden;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(255, 255, 255, 1.0);
}

a {
  text-decoration: none;
}

div {
  -webkit-text-size-adjust: none;
}

.anima-full-width-a {
  width: 100%;
}

.anima-full-height-a {
  height: 100%;
}

div {
  -webkit-text-size-adjust: none;
}

.wibu2 .rectangle102 {
  background-color: rgba(255, 228, 225, 1.0);
  top: 0px;
  height: 9611px;
  box-sizing: border-box;
  width: 2239px;
  position: absolute;
  margin: 0;
  left: -180px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(112, 112, 112, 1.0);
  transform: rotate(0deg);
  opacity: 1.0;
}

.wibu2 .rectangle15581 {
  background-color: rgba(255, 240, 245, 1.0);
  top: 0px;
  height: 1423px;
  width: 2239px;
  position: absolute;
  margin: 0;
  left: -180px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.wibu2 .a442 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 1752px;
  height: 587px;
  width: 1044px;
  position: absolute;
  margin: 0;
  left: 438px;
}

.wibu2 .a453 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 2339px;
  height: 587px;
  width: 1044px;
  position: absolute;
  margin: 0;
  left: 438px;
}

.wibu2 .a434 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 586px;
  height: 587px;
  width: 1044px;
  position: absolute;
  margin: 0;
  left: 438px;
}

.wibu2 .a465 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 2926px;
  height: 587px;
  width: 1044px;
  position: absolute;
  margin: 0;
  left: 438px;
}

.wibu2 .a426 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 439px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.wibu2 .a426 .a420 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: 586px;
  width: 1042px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
}

.wibu2 .a477 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 3513px;
  height: 587px;
  width: 1044px;
  position: absolute;
  margin: 0;
  left: 438px;
}

.wibu2 .a488 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 4100px;
  height: 587px;
  width: 1044px;
  position: absolute;
  margin: 0;
  left: 438px;
}

.wibu2 .a499 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 4687px;
  height: 587px;
  width: 1044px;
  position: absolute;
  margin: 0;
  left: 438px;
}

.wibu2 .a5010 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 5274px;
  height: 587px;
  width: 1044px;
  position: absolute;
  margin: 0;
  left: 438px;
}

.wibu2 .a5111 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 5861px;
  height: 587px;
  width: 1044px;
  position: absolute;
  margin: 0;
  left: 438px;
}

.wibu2 .a5212 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 6448px;
  height: 587px;
  width: 1044px;
  position: absolute;
  margin: 0;
  left: 438px;
}

.wibu2 .a5313 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 7035px;
  height: 587px;
  width: 1044px;
  position: absolute;
  margin: 0;
  left: 438px;
}

.wibu2 .a5414 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 7622px;
  height: 587px;
  width: 1044px;
  position: absolute;
  margin: 0;
  left: 438px;
}

.wibu2 .thanksforviewing15 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 8620px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 524px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Avenir", Helvetica, Arial, serif;
  font-weight: 200;
  font-style: normal;
  font-size: 80.0px;
  color: rgba(0, 0, 0, 1.0);
  text-align: left;
  line-height: 80.0px;
  text-decoration: line-through;
}

.wibu2 .interestedinhearingmoreletsgetintouch16 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 8755px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 430px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Avenir", Helvetica, Arial, serif;
  font-weight: 200;
  font-style: normal;
  font-size: 50.0px;
  color: rgba(0, 0, 0, 1.0);
  text-align: left;
  line-height: 60.0px;
}

.wibu2 .component8117 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 8893px;
  height: 328px;
  width: 1184px;
  position: absolute;
  margin: 0;
  left: 368px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.wibu2 .component8117 .rectangle15540 {
  background-color: rgba(255, 255, 255, 1.0);
  top: 0px;
  height: 328px;
  width: 1184px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.wibu2 .component8117 .tracyuxlogo1 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 89px;
  height: 151px;
  width: 936px;
  position: absolute;
  margin: 0;
  left: 134px;
  transform: rotate(0deg);
}

.wibu2 .user18 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 1547px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 855px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Avenir", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 70.0px;
  color: rgba(0, 0, 0, 1.0);
  text-align: center;
  line-height: 70.0px;
  text-decoration: line-through;
}

/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity: 0;
  display: block;
  -webkit-animation: anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation: anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation: anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation: anima-reveal 0.3s ease-in-out 1 normal forwards;
}

.anima-animate-disappear {
  opacity: 1;
  display: block;
  -webkit-animation: anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation: anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation: anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation: anima-reveal 0.3s ease-in-out 1 reverse forwards;
}

.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay: 0;
  /*animation-delay     : 0;*/
}

@-webkit-keyframes anima-reveal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes anima-reveal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes anima-reveal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes anima-reveal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events: none;
}

.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events: auto;
}

.anima-hidden,
.anima-hidden * {
  visibility: hidden;
  pointer-events: none;
}

.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events: auto;
  visibility: visible;
}

.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility: hidden !important;
}

.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor: pointer;
}

/*.anima-word-break {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}*/
